OPENROUTER_API_KEY=YOUR-API-KEY
AGENT_MODEL=YOUR-AGENT-MODEL
LANGSMITH_TRACING=true/false
LANGSMITH_ENDPOINT=https://api.smith.langchain.com
LANGSMITH_API_KEY=YOUR-LANGSMITH-KEY
LANGSMITH_PROJECT=YOUR-LANGSMITH-APIKEY

GMAIL_ADDRESS=YOUR-GMAIL-ADDRESS
GMAIL_APP_PASSWORD=YOUR-APP-PASSWORD
GITHUB_TOKEN=YOUR-PERSONAL-GITHUB-TOKEN

USERNAME=BACKEND-USERNAME
PASSWORD=BACKEND-USER-PASSWORD