# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/

# IDE/editor folders
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Logs and debug info
*.log

# Local database or runtime files
*.sqlite3
*.db

# Sensitive
